@charset "utf-8";
/* CSS Document */

p {
	font-family: sans-serif;
}

#garagePix {
	overflow: hidden;
}

#door {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 860px;
	height: 600px;
	animation-duration: 2s;
	animation-name: slidein;
}

#reveal {
	z-index: 1;
	position: absolute;
	top: 300px;
	left: 400px;
}

#bldg {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 860px;
	height: 600px;
}

#main {
	position: fixed;
	width: 860px;
	left: 0;
	top: 610px;
	padding: 10px;
}

@keyframes slidein {
	from {
		margin-bottom: 100%;
		width: 300%;
	}
	to {
		margin-bottom: 0%;
		width: 100%;
	}
}