@charset "utf-8";
/* CSS Document */

p {
	font-family: sans-serif;
}

ul.menu li {
	display: inline;
	margin: 50px;
}

.menu {
	text-align: center;
}

#garagePix {
	overflow: hidden;
}

#door {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 720px;
	animation-duration: 2s;
	animation-name: slidein;
}

#bldg {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 720px;
}

#reveal {
	z-index: 0;
	position: absolute;
	top: 320px;
	left: 365px;
}

#main {
	position: fixed;
	width: 960px;
	left: 0;
	top: 720px;
	padding: 10px;
}

footer {
	position: fixed;
	text-align: center;
	width: 960px;
	left: 0;
	top: 800px;
	padding: 10px;
}

@keyframes slidein {
	from {
		margin-bottom: 100%;
		width: 300%;
	}
	to {
		margin-bottom: 0%;
		width: 100%;
	}
}